/* Main container */
  .content {
    padding: 10px 10px;
    width: 100%;
    background-color: rgb(250, 249, 249);
    /*make content container the only scrollable container in the app */
    height: calc(100vh - 50px - 35px);  
    overflow-x: scroll;
  }
  
/*  main for tablet */
  @media screen and (max-width: 770px) {  
    .content {
      width: 100%;
    }
  }
  @media screen and (max-width: 480px) {  
    .content {
      padding:0px;
      margin:0;
    }
  }