/* Main container */
.nav {
  width:100%;
  min-height: 40px;
  padding: 0;
  display: flex;
  border-right: none;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
}
  
.ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content:center;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.li {
    width: 100%;
    padding:10px 30px;
    flex: 0 1;
}

.li:hover {
border-radius:4px;
text-decoration: underline;
    font-weight:bolder ;
    cursor: pointer;
}
.activeNavLink{
  font-weight: bold;
}


  /* TABLET STYLING */
  /* nav under header */
  @media screen and (max-width: 770px) {  
    .nav {
      width:100%;
      min-height: 40px;
      padding: 0;
      display: flex;
      border-right: none;
      box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }
  /* list display as row */
  @media screen and (max-width: 770px) and (min-width:481px) {
    .ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .li {
        padding: 10px;
        flex: 0 1;
    }
}
  
 /* Mobile Phone Styling */
  @media screen and (max-width: 480px) {
    /* nav display is dinamically controlled by Header.js  */
    .nav {
      display: none;
      justify-content: flex-end;
    }
    .ul {
        width: 100%;
        text-align: center;
    }

    .li {
        text-align: center;
        padding: 10px;
    }
  }
  @media  (min-width:481px){
    .nav{
      display:block !important;
    }
  }



