.container{
    margin:20px auto;
    max-width:700px;
    background-color: rgb(248, 248, 248);
   
}
.comments{
    margin-top:5px;
    max-width:100%;
    border-left: 1px dotted rgb(189, 189, 189);
}
.comment{
    margin:0px auto ;
    padding:10px 20px;
    border-radius: 4px;
    background-color: white;
}
.author{
    font-weight: bold;
    text-decoration: underline;
    color:#108d74;
    font-size: 14px;
    padding-bottom: 5px;
}
.text{
    font-size: 12px;
}
.replyButton{
    font-size: 10px;
    text-decoration: underline;
    padding:5px;
    cursor:pointer;
    color:black;
}
.replyButton:hover{
    color:#108d74
}

.reply{
    display:block;
    margin-left:20px;
    border-left: 1px dotted rgb(189, 189, 189);
}

.hideReply{
    display:none
}
