.container{
    margin:0 auto;
    width:100%;
}
.comments{
    padding:5px;

    width:100%;
}
.comment{
    margin:10px auto ;
    padding:10px;
    border-radius: 4px;
}
.author{
    font-weight: bold;
    text-decoration: underline;
    color:#108d74;
    font-size: 14px;
    padding-bottom: 5px;
}
.text{
    font-size: 12px;
}
