/* Main container */
.card {
    width: 100%;
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
}
.post{
  background-color: white;
  max-width:700px;
  margin:0 auto;
}

.title {
    text-align: center;
    padding:10px 20px;
    font-size: 16px;
}

.mediaContainer{
  margin: 0 auto;
  padding:0 ;
  display:flex;
  justify-content: center;
  align-items:flex-start;
}

.media {
  flex-shrink: 1;
    max-width:350px;
    display: block;
    padding:5px 0px;
}
/* Author's text */
.description{
  padding:5px 20px;
  text-align:justify;
  font-size: 14px;
}

/*  parent container for: votes, comments, and subreddit sections */
.subReddit {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:20px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:10px 0;

}

.comments{
width:100%;
margin:40px 0 ;
background-color: rgb(248, 248, 248);
}


@media screen and (max-width:780px) {
  .mediaContainer{
  margin: auto;
  padding:0 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subReddit {
  margin-top:0px;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    font-size: 12px;
}
.description{
  font-size: 12px;
}
}


@media screen and (max-width:480px) {
  .card{
    margin:0;
    box-shadow:none
}

  .title{
    font-size: 12px;
  }
  .description{
  font-size: 10px;
}
.subReddit{
  font-size: 10px;
  gap:0px;
}
}

