.logo{
    text-align: left;
    flex:0 2 33%;
}

.logoSpan{
 font-style: italic;
 color:rgb(196, 255, 213)
}

.input{
    width: 130px;
    height:30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;   
}

.input:focus {
    width:250px;
  }
.menu{
    display:none;
    padding:0 20px;
    justify-self:right
}
.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    height:30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded corners */
    padding: 10px ;
    margin-right:20px;
}

.searchInput {
    flex: 1 1;
    height:28px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px; /* Rounded corners */
}

#searchIcon {
    padding:6px;
    border-radius: 100%;
    color: #000000;
    cursor: pointer; /* Add a pointer cursor */
}
#searchIcon:hover{
   background-color: rgb(220, 221, 220) 
}



@media screen and (max-width:480px){
    .logo{
        font-size: 14px;
        flex:0 2 20px;
    }
    .menu{
        display:inline-block;
        
    }
.searchContainer {
    max-width:110px;
    margin-right: 5px;
    font-size: 14px;
}
.searchInput{
    max-width:85%
}

}