/* Main container */
.footer {
    min-height: 35px;
    padding: 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
  }

.logo{
 width:250px;
 padding-left: 20px;
}
/*design second part of the logo independently */
.logoSpan{
    font-style: italic;
    color:#1abc9c;
    font-weight: bold;
}
/* all icons links  */
.contact{ 
    display:flex;
    flex:1 2;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
/* all icons are children of a unique p container */
.contact p{
    margin:0 40px;
}
/*Manage footer for mobile */
@media screen and (max-width: 480px) {
    /* display each element properly when children containers are too small */
    .footer {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }

    .contact p{
        margin:0 10px;
    }

  }